body {
    margin: 0;
}

.title {
    height: 75px;
    font-size: 50px;
    text-align: center;
    margin-bottom: -10px;
    letter-spacing: 20px;
    font-family: 'Fjalla One', serif;
    padding-top: 10px;
    color: #002626;
}

.links-grid {
    border: 2px solid #002626;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

.nav-link {
    /* width: 70px; */
    text-align: center;
    border-right: 2px solid #002626;
   
    
}   

.sitting-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.experience-pic img{
    width:100%;
    margin-top: 30px;
}

.nav-link a {
    font-family: 'Fjalla One', serif;
    color: #002626;
    text-decoration: none;
    font-size: 24px;
    transition: all .4s ease;
    /* padding: 10px; */
    
}

.nav-link a:hover {
   /* color: #708d81; */
   letter-spacing: 3px;
   transition: all .4s ease;
}

.skill-body {
    height: 450px;
    padding-top: 50px;
    text-align: center;
}

.footer-container {
    border-top: 2px solid #002626;
}

.footer-container-left {
    color: #00120b;
    height: 50px;
    padding-top: 20px;
    
}

.footer-container-right {
    color: #00120b;
    font-family: 'Fjalla One', serif;
    text-align: right;
    height: 50px;
    margin-top: -35px;
    font-size: 17px;

}

.fab {
    padding: 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #00120b;
    font-size: 30px;  }
  
  .fab:hover {
    color:  #684551
  }

  .canvas {
      border: 1px solid black;
      
  }