body {
    margin: 0;
}

.title {
    height: 75px;
    font-size: 50px;
    text-align: center;
    margin-bottom: -10px;
    letter-spacing: 20px;
    font-family: 'Fjalla One', serif;
    padding-top: 10px;
    color: #002626;
}

.links-grid {
    border: 2px solid #002626;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

.nav-link {
    /* width: 70px; */
    text-align: center;
    border-right: 2px solid #002626;
   
    
}   

.nav-link a {
    font-family: 'Fjalla One', serif;
    color: #002626;
    text-decoration: none;
    font-size: 24px;
    transition: all .4s ease;
    /* padding: 10px; */
    
}

.nav-link a:hover {
   letter-spacing: 2px;
   transition: all .4s ease;
}
  
  .body {
 font-family: 'Fjalla One', serif;
  }

.skills-flex {
  font-family: 'Fjalla One', serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

  /* .skill-body {
    font-family: 'Fjalla One', serif;
    /* position: sticky; */
  
     /* } */ 
  
  /* .column {
    float: left;
    width: 33%;
    padding: 30px 30px;
    box-sizing: border-box;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    color: #ffffff;
    background-color: #708d81;
    height: 100px;
    width: 250px ;
    margin-top: 15px;
    /* width: 33%;
    padding: 30px 30px; */
  }

  .card:hover {
        transform: scale(1.1);
        transition: all .4s ease;
    }

  
  /* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    } */
  }

/* footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
} */

  .footer-container {
    border-top: 2px solid #002626;
    position: relative;
    bottom: 1px;
    width: 100%;
    margin-top: 15px;
}

  
.footer-container-left {
    color: #00120b;
    height: 50px;
    padding-top: 20px;
    
}

.footer-container-right {
    color: #00120b;
    font-family: 'Fjalla One', serif;
    text-align: right;
    height: 50px;
    margin-top: -35px;
    font-size: 17px;

}

.fab {
    padding: 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #00120b;
    font-size: 30px;  }
  
  .fab:hover {
    color: #684551
  }