body {
    margin: 0;
}

.title {
    height: 50px;
    font-size: 30px;
    text-align: center;
    margin-bottom: -10px;
    letter-spacing: 20px;
    font-family: 'Fjalla One', serif;
    padding-top: 10px;
}

.links-grid {
    border: 2px solid #00120b;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

.nav-link {
    /* width: 70px; */
    text-align: center;
    border-right: 2px solid #00120b;
   
    
}   

.nav-link a {
    font-family: 'Fjalla One', serif;
    color: #00120b;
    text-decoration: none;
    /* padding: 10px; */
    
}

.nav-link a:hover {
   color: #BB342F;
}

.about-me-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 250px;
    font-family: 'Fjalla One', serif;

}

.about-me-container {
    border-right: 2px solid #00120b;
    border-bottom: 2px solid #00120b;
}

.about-me-container-1 {
    border-right: 2px solid #00120b;
    border-bottom: 2px solid #00120b;
    background-color: #6b818c;
    text-align: center;
   
}

.about-me-container-2 {
    border-right: 2px solid #00120b;
    border-bottom: 2px solid #00120b;
    
}

.about-me-container-3 {
    border-right: 2px solid #00120b;
    border-bottom: 2px solid #00120b;
    background-color: #dda448;
   
}
.about-me-container-4 {
    border-right: 2px solid #00120b;
    border-bottom: 2px solid #00120b;
    
}

.about-me-container-5 {
    border-right: 2px solid #00120b;
    border-bottom: 2px solid #00120b;
    background-color: #35605A;
    
}

.about-me-container-6 {
    border-right: 2px solid #00120b;
    border-bottom: 2px solid #00120b;
    
}

.about-me-grid-2 {
    display: grid;
    grid-template-columns: 250px auto 250px;
    height: 250px;
    font-family: 'Fjalla One', serif;
}

.grid-1 {
    background-color: #6b818c;
}

.sitting-image {
    padding: 100px;
}

.footer-container-left {
    color: #00120b;
    height: 50px;
    padding-top: 20px;
    
}

.footer-container-right {
    color: #00120b;
    font-family: 'Fjalla One', serif;
    text-align: right;
    height: 50px;
    margin-top: -35px;
    font-size: 17px;

}

.fab {
    padding: 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #00120b;
    font-size: 30px;  }
  
  .fab:hover {
    color: #BB342F
  }